.DS_Store
/.vscode
/*.cache
/svn
/bin
/node_modules
/vendor
/dist
/phpunit.xml
/readme.txt
/freemius
/freemius.php
TODO.md

# Wip
/src/migrations

# Premium
/src/premium

# Temp
/composer.json
/composer.lock
/tests
/phpunit.xml.dist
