.DS_Store
/.vscode
/*.cache
/svn
/bin
node_modules
/vendor
/dist
/phpunit.xml
/readme.txt
/freemius
/freemius.php
/dev
TODO.md

# Premium
/src/premium

# Scope
/scope
/config
/toaster

# Temp
/composer.json
/composer.lock
/tests
/phpunit.xml.dist
